* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  transition: all .5s;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#color {
  margin-top: 5%;
  color: #fff;
  text-shadow: 0 0 10px rgb(114, 113, 113);
}

#clock {
  font-weight: 300;
  font-size: 120px;
  color: #fff;
  text-shadow: 0 0 10px rgb(114, 113, 113);
  transition: all 1s;
}

@media only screen and (max-width: 600px) {
  #clock {
    font-size: 100px;
  }
}
@media only screen and (max-width: 400px) {
  #clock {
    font-size: 80px;
  }
}
@media only screen and (max-width: 320px) {
  #clock {
    font-size: 50px;
  }
}